/** center icons */
.center-icon {
    line-height: 48px;
    text-align: center;
}

.center-icon > i {
    line-height: normal;
    vertical-align: middle;
}

/** Button Styles */
.menu-btn {
    text-align: center;
    text-transform: capitalize;
}
